@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: bold;
  src: url(./fonts/ClashDisplay-Bold.ttf) format("opentype");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/ClashDisplay-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/ClashDisplay-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/ClashDisplay-Regular.otf) format("opentype");
}

@font-face {
  font-family: "MADE TOMMY Outline";
  font-weight: normal;
  src: local(""), url(./fonts/made-tommy-outline.otf) format("opentype");
}

@font-face {
  font-family: "Typo Hoop Demo";
  font-weight: normal;
  src: local(""), url(./fonts/Typo_Hoop_Regular_Demo.otf) format("opentype");
}

::-webkit-scrollbar {
  width: 12px;
}

:-webkit-scrollbar-thumb {
  background: #d434fe;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #d434fe;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#html-spinner {
  width: 10rem;
  height: 10rem;
  border-image: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  border-style: solid;
  border-top: 4px solid white;
  border-image-width: 10px;
  border-radius: 50%;
}

#html-spinner {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinners {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

#html-spinner {
  position: absolute;
  top: 33vh;
  left: 46%;
}

#html-para {
  position: absolute;
  top: 55vh;
  left: 36%;
  padding: 5%;
  text-align: center;
  font-family: "Clash Display";
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.linked {
  color: #d434fe;
}

.creative-image {
  width: 63px;
  height: 83px;
  position: absolute;
  left: 10rem;
  top: 10rem;
}

.chain-image {
  width: 83px;
  height: 103px;
  position: absolute;
  bottom: 5rem;
}
.boom-image {
  width: 83px;
  height: 103px;
  position: absolute;
  right: 5rem;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  #html-spinner {
    top: 33vh;
    left: 41%;
  }

  #html-para {
    position: absolute;
    top: 55vh;
    left: 30%;
    padding: 5%;
    text-align: center;
    font-family: "Clash Display";
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  #html-spinner {
    top: 33vh;
    left: 35%;
  }

  #html-para {
    position: absolute;
    top: 60vh;
    left: 21%;
    padding: 5%;
    text-align: center;
    font-family: "Clash Display";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
