@font-face {
  font-family: 'Clash Display';
  font-weight: bold;
  src: local(''), url(./fonts/ClashDisplay-Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'MADE TOMMY Outline';
  font-weight: normal;
  src: local(''), url(./fonts/made-tommy-outline.otf) format('opentype');
}