@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Unica+One:regular);

body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Ubuntu", "Fira Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #150e28 !important;
  color: #ffffff !important;
  overflow-x: hidden;
}

